<!DOCTYPE html>
<html class="darkpage" lang="en" data-generated="<%- escapeForHTMLAttr(dateFormat(generatedDate, "isoUtcDateTime")) %>">
<head>
	<title>CommonCodes v<%- escapeForHTMLText(currentReleaseVersion.format()) %></title>
	<meta charset="utf-8">
	<meta name="author" content="<%- escapeForHTMLAttr(authors[0].name) %>">
	<meta name="description" content="Standardized list of commonly used exit statuses">
	<meta name="keywords" content="commoncodes">
	<!-- #region faviconit.com favicons -->
	<link rel="shortcut icon" href="./img/favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="./img/favicon/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="./img/favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="./img/favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./img/favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="./img/favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="./img/favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./img/favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./img/favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./img/favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./img/favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./img/favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./img/favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./img/favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="./img/favicon/favicon-144.png">
	<meta name="msapplication-config" content="./img/favicon/browserconfig.xml">
	<!-- #endregion -->
	<link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
	<header>
	<div id="version-links_container">
		<span id="version-links_text">
			[
			<%_ releaseVersions.sort((a, b) => (b.compare(a))).forEach((releaseVersion, i) => { -%>
				<%_ if(releaseVersion.compare(currentReleaseVersion) === 0) { -%>
			<span id="version-links_current"><a href="v<%- escapeForHTMLAttr(releaseVersion.major.toString()) %>.html">v<%- escapeForHTMLText(releaseVersion.format()) %></a></span><%- ((releaseVersions.length - 1) !== i) ? " |" : "" %>
				<%_ } else { -%>
			<span class="version-links_other"><a href="v<%- escapeForHTMLAttr(releaseVersion.major.toString()) %>.html">v<%- escapeForHTMLText(releaseVersion.format()) %></a></span><%- ((releaseVersions.length - 1) !== i) ? " |" : "" %>
				<%_ } -%>
			<%_ }); -%>
			]
		</span>
	</div> <!-- #version-links_container -->
	</header>

	<main>
	<div id="page-intro">
	<h1>CommonCodes v<%- escapeForHTMLText(currentReleaseVersion.format()) %></h1>

	<div id="release-date_container">
		<span id="release-date_text"><%- escapeForHTMLText(dateFormat(releaseDate, "mmmm d, yyyy")) %></span>
	</div> <!-- #release-date_container -->
	</div> <!-- #page-intro -->

	<div id="release-content">
	<div id="section_description" class="pagesection">
	<h2>Description</h2>

	<%- indent(descriptionToHTML(description), 1) %>
	</div> <!-- #section_description.pagesection -->

	<!-- TODO exit status table -->
	</div> <!-- #release-content -->
	</main>
</body>
</html>
